name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Upload code to S3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.5
      - name: Install project dependencies
        run: npm ci

      - name: Compile project files
        run: npm run build

      - name: Configure AWS S3
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to S3
        run: aws s3 sync ./out s3://${{ secrets.AWS_BUCKET_NAME }}
